:root {
  --cor-base-1: #202020;
  --cor-base-2: #8d8d8d;
  --cor-base-3: #ffffff;
  --cor-primaria: #FFCB47;
}

.cor-1{
  color: var(--cor-base-1);
}
.cor-2{
  color: var(--cor-base-2);
}
.cor-3{
  color: var(--cor-base-3);
}
.cor-primaria{
  color: var(--cor-primaria);
}
