.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px;
  gap: 24px;
}
.header ul{
  display: flex;
  gap: 32px;
}
.header ul li{
  position: relative;
}
.header ul li:not(:first-child)::before{
  content: "/";
  position: absolute;
  left: -18px;
}
.header .carrinho-mobile{
  display: none;
}

@media (max-width: 900px){
  .header{
    flex-direction: column;
  }
}
@media (max-width: 630px){
  .header{
    flex-direction: row;
  }
  .header ul{
    display: none;
  }
  .header .carrinho-mobile{
    display: block;
  }
}